<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
</button>
{{!-- Floating point --}}
<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>