<div class="center-block">
    <div>
        <h3>Employee Found for Id {{employeeData.id}}</h3>
        <hr />
        <div>Employee Id: {{employeeData.id}}</div>
        <div>Employee First Name: {{employeeData.firstName}}</div>
        <div>Employee Last Name: {{employeeData.lastName}}</div>
    </div>
</div>