<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Module2 HW Part 2</title>
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>

    <div class="center">
        <img src="/images/bu.gif" alt="Boston University" />
    </div>

    <div class="center">
        <a href="/" class="menu-link">Home</a>
        <a href="/search" class="menu-link">Search Employee</a>
        <a href="/addEmployee" class="menu-link">Add Employee</a>
    </div>
    {{{body}}}
</body>

</html>