{{#if displayEmployeeDetail}}
{{> employee}}
{{else}}
{{#if displayListEmployeeDetail}}
{{> employeeList}}
{{else}}
<div class="welcome center">
    <h1>Welcome to Home Page for MET CS602!! - Kumar Nitesh</h1>
</div>
{{/if}}
{{/if}}