<form class="center form" method="GET" action="/search">
    <fieldset class="form-fieldset">
        <legend>Search Employee based on Id</legend>
        <div class="form-group">
            <label for="id">Employee Id</label>
            <input class="form-control" id="id" name="id" type="number" placeholder="Employee Id" required>
        </div>
        <button type="submit" class="form-button">Submit</button>
    </fieldset>
</form>

<form class="center form" method="GET" action="/search">
    <fieldset class="form-fieldset">
        <legend>Search Employee based on LastName</legend>
        <div class="form-group">
            <label for="lName">Last Name</label>
            <input class="form-control" id="lName" name="lastName" type="text" placeholder="Last Name" required>
        </div>
        <button type="submit" class="form-button">Submit</button>
    </fieldset>
</form>