.center {
    display: flex;
    justify-content: center;
}

.center-block {
    display: flex;
    justify-content: center;
}

.center-block div {
    min-width: 350px;
}

.menu-link {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #262626;
    border: 1px solid #555;
}

.menu-link:hover {
    background-color: beige;
    border-radius: 5px;
}

.welcome {
    margin-top: 2em;
}

.form {
    margin-top: 2em;
}

.form-fieldset {
    min-width: 500px
}

legend {
    padding: 0.2em 0.5em;
    border-left: 1px solid #262625;
    border-right: 1px solid #262625;
    font-size: 90%;
    text-align: center;
}

.form-group {
    font-size: 14px;
    min-width: 100%;
}

.form-control {
    display: block;
    margin: 5px 0px;
    padding: 1%;
    min-width: 97%;
    font-size: 18px
}

.form-button {
    width: 100%;
    padding: 5px;
    border: 1px solid #ff8585;
    font-size: 18px;
    color: #ff8585;
    margin-top: 1em;
}

.form-button:hover {
    color: #fff;
    background-color: #ff8585;
    border-radius: 5px;
    border-color: #fff
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}