<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HW3(mongoDb)</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">METCS602 (Knitesh)</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/employee">Employees</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="center container">
            <img class="z-depth-5" src="/images/bu.gif" style="margin: 10px;">
        </div>
        {{{body}}}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>